:root {
  --primary: #69665c;
  --secondary: #fff9de;
  --light: #b2afa1;
  --blue: #d1e5f7;
  --green: #daf2d6;
  --red: #ffcece;
  --purple: #d2ceff;
}
@media screen and (max-width: 600px) {
  .hero {
    background-color: var(--secondary);
  }
  .brand-text {
    font-size: 3rem !important;
  }
  .account-custom {
    font-size: 1.3rem !important;
  }
}
.account-custom {
  color: #3b3a3a;
}
.info {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px;
  border: 0.5px solid var(--primary);
}
